trainfile: rna-train.hdf5
validfile: rna-valid.hdf5
seqlen: 4096
valid_loopcount: 1000
batchsize: 4
epochs: 20
scheduler: reducelronplateau
scheduler_threshold: 0.1
dropout: 0.1
dp_dropout: 0.05
optimizer: ranger
lr: .008
activation: mish
sqex_activation: mish
dp_activation: glu 
weightdecay: 0.005
scheduler_factor: 0.9
scheduler_minlr: 0.000001
scheduler_patience: 1
layer: 0